body {
    font-family: Poppins, sans-serif;
    background: #e6ecff;
    display: flex;
    justify-content: left;
    padding: 40px;
}

.main-container {
    width: 900px;
}

.course-box,
.module-box {
    width: 150%;
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

h2 {
    color: #1a237e;
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    display: block;
    margin-top: 15px;
}

input, textarea, select {
    width: 65%;
    padding: 12px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 5px;
}

textarea {
    resize: none;
    height: 90px;
}

/* -------------------- BUTTON COLORS -------------------- */

.btn-lecture {
    width: 140px;
    padding: 12px;
    background: #ff8c42; /* ORANGE */
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 18px;
    margin-top: 15px;
}
.btn-lecture:hover {
    background: #e6762c;
}
.btn-savemodule {
    width: 140px;
    padding: 12px;
    background: pink; /* ORANGE */
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 18px;
    margin-top: 15px;
}
.btn-savemodule:hover {
    background: #e487d7;
}

.btn-module {
    width: 150px;
    padding: 12px;
    background: #43a047; /* GREEN */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 18px;
}
.btn-module:hover {
    background: #2e7d32;
}

.btn-save {
    width: 140px;
    padding: 12px;
    background: #8e24aa; /* PURPLE */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    padding-left: 18px;
}
.btn-save:hover {
    background: #6a1b9a;
}

/* Button Row Layout */
.button-row {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
